.Upload{
    max-width: 100%;
    margin: auto;

    & h2{
        font-weight: 500;
    }


    & .inputs{
        background: #FCFCE3;
        padding: 2rem 1rem 4rem;

        & h4{
            color: #dd4019;
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        & input {
            display: inline-block;
            border: 1.5px solid #dd4019;
            color: #dd4019;
            cursor: pointer;
            border-radius: 0.25rem;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            outline: none;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}